<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <!-- Логотип или название сайта -->
            <a class="navbar-brand" href="#">My Project</a>

            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav add">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="person" asp-action="index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="person" asp-action="showall">Persons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="person" asp-action="createperson">Create Person</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="person" asp-action="personstopdf">Download as PDF</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav add2">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="index" asp-area="admin">Admin Panel</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="user" asp-action="userprofile" asp-area="user">@User.Identity?.Name</a>
                    </li>
                    <li class="nav-item logout">
                        <a class="nav-link" href="/Account/Logout">Log out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item registration-link">
                        <a class="nav-link" href="/account/registration">Registration</a>
                    </li>
                    <li class="nav-item login-link">
                        <a class="nav-link" href="/account/login">Log in</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="m-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
            @RenderSection("BreadcrumbSection", false)
        </ol>
    </nav>
    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/myscript.js"></script>
</body>

</html>
