<select class="my-select form-select rounded-start" id="search-filter" name="searchFilter">
    <option selected value="0">Search filter</option>
    <option value="Name">Person name</option>
    <option value="Surname">Surname</option>
    <option value="Email">Email</option>
    <option value="Address">Address</option>
</select>
